body {
    height: 100vh;
    background-image: linear-gradient(to right, #1e2931, #25323b, #2b3b45, #32444f, #394e5a);
}

header {
    margin-bottom: 5rem;
}

.navbar {
    background-color: rgba(0,0,0,.0)
}

.navbar-brand {
    font-size: 1.8rem !important;
    color: #ffffff;
}

.navbar-brand:hover {
    color: #198754;
}

.nav-link {
    font-size: 1.3rem;
    color: #ffffff;
    text-decoration: none;
}
.nav-link:hover {
    color: #198754;
}

.card {
    width: 12rem;
    color: white;
    font-size: 0.8rem;
    background-color: rgba(0,0,0,.0) !important;
    border:none !important;
}

h5 {
    width: 80%;
    font-size: 1.1rem !important;
}

.card-body {
    padding: 1rem 0 !important;
}

svg {
    width: 20px;
    height: 20px;
    fill: #1fffff;
    opacity: 0.3;
}

.svg-on {
    fill: #1fffff;
    opacity: 1;
}

svg:hover {

    opacity: 1;
}

/* .card-img-top {

    height: 30vh;
    object-fit: cover;
} */